*{
    margin: 0;
    padding: 0;    
    font-family: "Nunito";
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(145deg, #352509, #b58022);
}

.box{
    text-align: center;
}

.hours, .minutes, .seconds, .half{
width: 10vw;
height: 10vw;
padding: 1em;
margin: 1em;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
font-size: 35px;
/* box-shadow: 5px 5px 23px #b3750c, -5px -5px -23px #ffc535; */
box-shadow: 5px 5px  #b3750c, -5px -5px  #ffc535;
transition: all 0.5s ease-in;
}
.hours:hover, .minutes:hover, .seconds:hover, .half:hover {
    transform: translateY(10px) ;
}